@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <h1>Welcome to My Web Application</h1>
        <hr />
        <h2>Form Submission</h2>
        <div id="panel">
        <form method="post" action="/Home/SubmitForm">
            <div class="form-group">
                <label for="ErrorType" class="label">Error message</label>                
                <!--<select id="ddpErrorType" name="ddpErrorType">
                        <option value="Error">Error</option>
                        <option value="Warning">Warning</option>
                        <option value="Trace">Trace</option>
                        <option value="Trace">Trace</option>
                        <option value="Critical">Critical</option>
               </select> --> 
            </div>
             <div class="form-group">
                <label for="lblcustomessage" class="label">Custom Message:</label>                
                <input type="text" id="CustomErrorMeessage" name="CustomErrorMeessage"/>
            </div>
           <!-- <div class="form-group">
                <label for="email" class="label">Push Logs to Azure /GCP:</label>
                    <select id="sourcetype" name="sourcetype">
                        <option value="Azure">Azure </option>  
                        <option value="GCP">GCP</option> 
                
               </select>  
            </div>-->
            <div class="form-group">
                <label for="lblperformancecount" class="label">performance count:</label>
                <input type="number" id="performancecount" name="performancecount" class="input" required>
            </div>
            <button type="submit" class="button">Submit</button>
           
        </form>
        </div>
        
    </div>
</body>

